.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.income-exp {
    display: flex;
    justify-content: space-between;
}

#incomeBtn,
#expenseBtn {
    border: none;
    padding: 0.5rem;
    font-size: large;
    border-radius: 1rem;
}

#incomeBtn {
    background-color: rgb(224, 247, 224);
}

#expenseBtn {
    background-color: rgb(252, 234, 234);
}

.active {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    font-weight: bold;
}